In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Lectura de Datasets

### Academico Dataset

In [6]:
dataset = 'academico'
file = f'../data/{dataset}.csv'
df_academico = pd.read_csv(file)

C:\Users\oscar\AppData\Local\Temp\ipykernel_28008\1230527439.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_academico = pd.read_csv(file)

In [7]:
df_academico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Region_IE              44582 non-null  object
 1   Provincia_IE           44581 non-null  object
 2   UGEL_IE                44581 non-null  object
 3   Distrito_IE            44581 non-null  object
 4   CentroPoblado_IE       44581 non-null  object
 5   Institucion_Educativa  44581 non-null  object
 6   CodigoLocal_IE         44581 non-null  float64
 7   CodigoModular_IE       44581 non-null  float64
 8   Estudiante             45065 non-null  object
 9   Grado                  45220 non-null  object
 10  Fecha                  45220 non-null  object
 11  Curso                  45220 non-null  object
 12  Competencia            45220 non-null  object
 13  % Adecuadas            41064 non-null  object
 14  Nivel de logro         45220 non-null  object
 15  DNI_Participante       44517 non-null  object
 16  ID_Participante        44581 non-null  object
 17  Participante           44581 non-null  object
 18  Estatus                44581 non-null  object
 19  Coordinador/a          44581 non-null  object
 20  Programa               44581 non-null  object
 21  Año PDL                44581 non-null  float64
 22  Socios                 44581 non-null  object
dtypes: float64(3), object(20)
memory usage: 7.9+ MB

In [13]:
df_academico_columns = df_academico.columns
df_academico_columns

Index(['Region_IE', 'Provincia_IE', 'UGEL_IE', 'Distrito_IE',
       'CentroPoblado_IE', 'Institucion_Educativa', 'CodigoLocal_IE',
       'CodigoModular_IE', 'Estudiante', 'Grado', 'Fecha', 'Curso',
       'Competencia', '% Adecuadas', 'Nivel de logro', 'DNI_Participante',
       'ID_Participante', 'Participante', 'Estatus', 'Coordinador/a',
       'Programa', 'Año PDL', 'Socios'],
      dtype='object')

In [15]:
df_academico_ID_Participante = df_academico['ID_Participante'].unique()
print(len(df_academico_ID_Participante))

232

### Clima de Aula Dataset

In [11]:
dataset = 'clima_aula'
file = f'../data/{dataset}.csv'
df_clima_aula = pd.read_csv(file)

In [12]:
df_clima_aula.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7856 entries, 0 to 7855
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Region_IE              7720 non-null   object
 1   Provincia_IE           7719 non-null   object
 2   UGEL_IE                7719 non-null   object
 3   Distrito_IE            7719 non-null   object
 4   CentroPoblado_IE       7719 non-null   object
 5   Institucion_Educativa  7719 non-null   object
 6   CodigoLocal_IE         7719 non-null   float64
 7   CodigoModular_IE       7719 non-null   float64
 8   Grado                  7854 non-null   object
 9   Fecha                  7854 non-null   object
 10  Evaluacion             7854 non-null   object
 11  Elemento               7854 non-null   object
 12  % Positivas            7829 non-null   object
 13  Nivel de logro         7854 non-null   object
 14  DNI_Participante       7705 non-null   object
 15  ID_Participante        7719 non-null   object
 16  Participante           7719 non-null   object
 17  Estatus                7719 non-null   object
 18  Coordinador/a          7719 non-null   object
 19  Programa               7719 non-null   object
 20  Año PDL                7719 non-null   float64
 21  Socios                 7719 non-null   object
dtypes: float64(3), object(19)
memory usage: 1.3+ MB

In [14]:
df_clima_aula_columns = df_clima_aula.columns
df_clima_aula_columns

Index(['Region_IE', 'Provincia_IE', 'UGEL_IE', 'Distrito_IE',
       'CentroPoblado_IE', 'Institucion_Educativa', 'CodigoLocal_IE',
       'CodigoModular_IE', 'Grado', 'Fecha', 'Evaluacion', 'Elemento',
       '% Positivas', 'Nivel de logro', 'DNI_Participante', 'ID_Participante',
       'Participante', 'Estatus', 'Coordinador/a', 'Programa', 'Año PDL',
       'Socios'],
      dtype='object')

In [16]:
df_clima_aula_ID_Participante = df_clima_aula['ID_Participante'].unique()
print(len(df_clima_aula_ID_Participante))

259

### Socio-emocional Dataset

In [18]:
dataset = 'socioemocional'
file = f'../data/{dataset}.csv'
df_socioemocional = pd.read_csv(file)

C:\Users\oscar\AppData\Local\Temp\ipykernel_28008\3496925767.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_socioemocional = pd.read_csv(file)

In [19]:
df_socioemocional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150003 entries, 0 to 150002
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Region_IE              144732 non-null  object
 1   Provincia_IE           144730 non-null  object
 2   UGEL_IE                144730 non-null  object
 3   Distrito_IE            144730 non-null  object
 4   CentroPoblado_IE       144730 non-null  object
 5   Institucion_Educativa  144730 non-null  object
 6   CodigoLocal_IE         144730 non-null  float64
 7   CodigoModular_IE       144730 non-null  float64
 8   Estudiante             149593 non-null  object
 9   Grado                  150000 non-null  object
 10  Fecha                  150000 non-null  object
 11  Evaluación             150000 non-null  object
 12  Habilidad              150000 non-null  object
 13  Promedio               150000 non-null  float64
 14  Nivel de logro         150000 non-null  object
 15  DNI_Participante       144692 non-null  object
 16  ID_Participante        144730 non-null  object
 17  Participante           144730 non-null  object
 18  Estatus                144730 non-null  object
 19  Coordinador/a          144730 non-null  object
 20  Programa               144730 non-null  object
 21  Año PDL                144730 non-null  float64
 22  Socios                 144730 non-null  object
dtypes: float64(4), object(19)
memory usage: 26.3+ MB

In [20]:
df_socioemocional_columns = df_socioemocional.columns
df_socioemocional_columns

Index(['Region_IE', 'Provincia_IE', 'UGEL_IE', 'Distrito_IE',
       'CentroPoblado_IE', 'Institucion_Educativa', 'CodigoLocal_IE',
       'CodigoModular_IE', 'Estudiante', 'Grado', 'Fecha', 'Evaluación',
       'Habilidad', 'Promedio', 'Nivel de logro', 'DNI_Participante',
       'ID_Participante', 'Participante', 'Estatus', 'Coordinador/a',
       'Programa', 'Año PDL', 'Socios'],
      dtype='object')

In [21]:
df_socioemocional_ID_Participante = df_socioemocional['ID_Participante'].unique()
print(len(df_socioemocional_ID_Participante))

181